/* CSS Document */
body {
	overflow: hidden;
}
html, body {
	min-height: 100%;
	height:100%;
    width: 100%;
    margin: 0;
    padding:  0 0 75px 0 !important;
	min-width:320px !important;
}
a {
	outline: none !important;	
}
a:hover, a:visited, a:focus {
	text-decoration:none !important;	
}
span.rumple-text-bg {
	background-image: url(../images/rumple-logo.png);
	padding-left:30px;
	background-repeat:no-repeat;
	color:#17975f;	
	font-family: 'Roboto', sans-serif;
}
span.salesforce-text-bg {
	color:#0b4c30;
	font-family: 'Roboto', sans-serif;
}
#wrapper {
	height:100%;
	padding:0;
}
#left-nav {
	margin:0;
	padding:0;
	background:#17975f;
	height:100%;
}
#left-nav a {
	color:#FFF;	
	font-family: 'Roboto Slab', serif;
}
#content {
	border:thin #CCC solid;
}
#cards {
	padding:0;	
	border-radius:0;
}
.draggable-card-item {
	float:none !important;
	min-height:50px !important;
	width:100%;
	height:55px !important;
	padding-left:0;
	padding-right:0;
}
.dashboard-card-panel {
	width:250px;
	margin: 0 !important;
	height:auto !important;
	background:#eee;
	border:thin #999 solid !important;
	width:270px; 
	float:left; 
	margin:0 0.1%
}
.dashboard-card-panel .card-panel-body {
/*	width:245px;*/
}
.card-panel {
/*	width:250px;*/
	height:auto !important;
	background:#eee;
	border:thin #45ac7f solid;
	width:250px; 
	float:left; 
	margin:0 2px;
}
.container-outer { 
	overflow: auto; 
	float:left;
	padding:5px 10px;
}
.container-inner { 
	white-space: nowrap;
	padding-left:10px;
	width:1920px;
}
ul li {
   -ms-user-select: auto;
   -moz-user-select: auto;
   -khtml-user-select: auto;
   -webkit-user-select: auto;
   user-select: auto;
}
.dashboard-table-container {
	border-radius:2px;
	min-height:250px;
	min-width:270px;
	max-width:270px; 
	padding:0; 
	float:left;
	display:inline-block;
}
.table-container {
	border-radius:2px;
	min-height:250px;
	min-width:250px;
	max-width:250px; 
	padding:0; 
	margin:0 5px;
	float:left;
	display:inline-block;
}
.add-table-container {
	border-radius:2px;
	background:#ddd;
	min-height:50px;
	min-width:250px;
	max-width:250px; 
	min-width:250px; 
	padding:5px 10px; 
	margin:5px;
	display:inline-block;
	float:left;
}
.add-table-container a {
	text-decoration:none !important;
	color:#FFF !important;	
	font-weight:bold;
	padding:1%;
}
.slimScrollDiv {
	overflow:visible !important;
	height:auto !important;
	margin-bottom:2px;
	z-index:0 !important;
	position: static;
	/*padding:0 2%;*/
}
.text-center {
	text-align:center;	
}
.card-title {
	font-size:18px;
	color:#555;
	font-weight:bold;
	margin-bottom:10px;
}
.stats-panel-heading {
	cursor:pointer;	
}
.panel-default > .stats-panel-heading {
	background:#45ac7f;
	color:#FFF;
	/*border-color:#45ac7f;*/
	border-color: transparent;
	text-align:right
}
.panel-default >.dashboard-panel-heading {
	height:78px;
	background:#eee !important;
	padding:0;
	border:#ddd;
}
.dashboard-card-panel, .dashboard-card-panel .panel-body {
	background:#ddd !important;	
}

/* draggable-card-item style */
.draggable-card-item .left-div {
	padding-left:10px;
}
.draggable-card-item .left-div .div-title {
	font-size:12px; font-weight:bold;line-height:10px; padding:2px; margin:0;
}
.draggable-card-item .left-div .div-desc {
	font-size:10px; line-height:10px; margin:2px 0 0 1px; font-style:italic; color:#666;
}
.draggable-card-item .right-div .month-day {
	font-size:10px; padding:1% line-height:10px; margin:0; text-align:right
}
.draggable-card-item .right-div .year {
	font-size:10px; padding:1% line-height:10px; margin:0; text-align:right
}
.draggable-card-item .bottom-div div:nth-child(1) {
	height:8px; background:#093; border:thin #FFF solid; width:16%; float:left;
}
.draggable-card-item .bottom-div div:nth-child(2) {
	height:8px; background:#093; border:thin #FFF solid; width:16%; float:left
}
.draggable-card-item .bottom-div div:nth-child(3) {
	height:8px; background:#093; border:thin #FFF solid; width:16%; float:left
}
.draggable-card-item .bottom-div div:nth-child(4) {
	height:8px; background:#3d7059; border:thin #FFF solid; width:16%; float:left
}
.draggable-card-item .bottom-div div:nth-child(5) {
	height:8px; background:#0c4c30; border:thin #FFF solid; width:16%; float:left
}
.draggable-card-item .bottom-div div:nth-child(6) {
	height:8px; background:#f9a924; border:thin #FFF solid; width:16%; float:left
}
/* draggable-dashboard-card-item style */
.draggable-dashboard-card-item .left-div {
	padding-left:10px;
}
.draggable-dashboard-card-item .left-div .div-title {
	font-size:12px; font-weight:bold;line-height:10px; padding:1%; margin:0;
}
.div-desc {
	font-size:12px; line-height:15px; margin:0; font-style:italic; color:#666;
}
.amount {
	font-size:12px; line-height:10px; padding:1%; margin:0; text-align:right; color:#3d7059
}
.annual {
	font-size:12px; line-height:15px; margin:0; font-style:italic; color:#666; text-align:right
}
.draggable-dashboard-card-item .bottom-div div {
	height:8px; background:#093;border:thin #FFF solid; margin-top:1%; width:16%; float:left;
}
.dashboard-card-panel .dashboard-panel-heading .head-title {
	margin-bottom:5px; border-bottom:thin #CCC solid; padding:0 5px;
}
.dashboard-card-panel .dashboard-panel-heading .children-div {
	border-bottom:thin #999 solid; margin:0
}
.dashboard-card-panel .dashboard-panel-heading .children-div .left-div {
	height:45px; padding:7px 0
}
.dashboard-card-panel .dashboard-panel-heading .children-div .left-div .month-to-month {
	font-size:9px; line-height:2px; word-spacing:-1px; color:#666;
}
.dashboard-card-panel .dashboard-panel-heading .children-div .left-div .yearly-contract {
	font-size:9px; line-height:3px; word-spacing:-1px; color:#666;
}
.dashboard-card-panel .dashboard-panel-heading .children-div .left-div .total {
	font-size:9px; line-height:3px; font-weight:bold; word-spacing:0; color:#666;
}
.dashboard-card-panel .dashboard-panel-heading .children-div .center-div {
	height:45px; padding:5px;
}
.dashboard-card-panel .dashboard-panel-heading .children-div .center-div .goal-for-month {
	font-size:9px; line-height:5px; word-spacing:-1px; color:#666;
}
.dashboard-card-panel .dashboard-panel-heading .children-div .center-div .amount {
	font-size:12px; line-height:5px; font-weight:bold; word-spacing:-1px; color:#e77404
}
.dashboard-card-panel .dashboard-panel-heading .children-div .right-div {
	height:45px; padding:5px;
}
.dashboard-card-panel .dashboard-panel-heading .children-div .right-div .projected {
	font-size:9px; line-height:5px; word-spacing:-1px; color:#666;
}
.dashboard-card-panel .dashboard-panel-heading .children-div .right-div .amount {
	font-size:12px; line-height:5px; font-weight:bold; word-spacing:-1px; color:#3d7059
}
/* add table container */
#add-table .select-container {
	display:none; position:relative; left:2px; max-width:50px;
}
ul#option-colors {
	min-width:20px; width:40px; max-height:80px; overflow-y:scroll
}
ul#option-colors li:nth-child(1) div {
	background-color: #17975f; height:20px; border:2px #FFF solid; width:30px;
}
ul#option-colors li:nth-child(2)  div {
	background-color: #fd5151; height:20px; border:2px #FFF solid; width:30px;
}
ul#option-colors li:nth-child(3) div {
	background-color: #5c74f8; height:20px; border:2px #FFF solid; width:30px;
}
ul#option-colors li:nth-child(4)  div {
	background-color: #51dcfd; height:20px; border:2px #FFF solid; width:30px;
}
ul#option-colors li:nth-child(5)  div {
	background-color: #fdb451; height:20px; border:2px #FFF solid; width:30px;
}
ul#option-colors li:nth-child(6)  div {
	background-color: #fd7f51; height:20px; border:2px #FFF solid; width:30px;
}
/* draggable element modal */
#dci-address {
	background:url(../images/1x/path-43.png);
	background-position:left;
	background-repeat:no-repeat;
	height:20px;
}
#dci-website {
	background:url(../images/1x/group-210.png);
	background-position:left;
	background-repeat:no-repeat;
	height:20px;
}
#dci-mobile {
	background: url(../images/1x/path-42.png);
	background-position:left;
	background-repeat:no-repeat;
	height:20px;
}
#dci-phone {
	background:url(../images/1x/group-70.png);
	background-position:left;
	background-repeat:no-repeat;
	height:20px;
}
#dci-email {
	background: url(../images/1x/group-28.png);
	background-position:left;
	background-repeat:no-repeat;
	height:20px;
}
#dci-manager {
	background:url(../images/1x/group-208.png); 
	background-position:right;
	background-repeat:no-repeat;
	height:20px;
}
#dci-email, #dci-manager, #dci-phone, #dci-mobile, #dci-website, #dci-address {
	background-position:left; background-repeat:no-repeat; padding-left:17px; padding-bottom: 2px; padding-top: 2px;
}
.summernote {
	height:0 !important;	
}
.dci-head-button {
	width:95px; font-size:14px; margin:10px 5px;/* background:#eee; color:#777;*/
}
.dci-head-button.btn.focus, .dci-head-button.btn:focus, .dci-head-button.btn:hover {
	color:#FFF;	
}
#draggable-card-item-modal {
	top:0;	
}
#draggable-card-item-modal .modal-dialog {
	width:700px;	
}
#popup-input-email, #popup-input-text {
	/*width:453px;*/ text-align:left; margin:1% 0
}
.dci-head-container {
	padding-left:5px !important;
	padding-right:5px !important;	
}
.send-lead-member-list {
    margin: 5px 0;
    padding-left: 20px;
}
.send-lead-member-list .row {
	margin-bottom:10px;	
}
.send-lead-member {
    left: 8px;
    position: relative;
    top: -5px;
}
.sidebar-offcanvas {
	background:#45ac7f;
	padding-left:1px;
	padding-right:1px;
}
.sidebar-offcanvas ul li > a {
	color:#FFF;	
}
#top-nav {
	margin-bottom:0;	
}
#btn-new-lead, #btn-upload-lead-sheet {
	margin-right:1% !important;
}
.circle {
	background: #e2e2e2 none repeat scroll 0 0;
    border-radius: 200px;
    display: table;
    font-weight: bold;
    height: 50px;
    left: 20px;
    position: relative;
    top: -5px;
    width: 50px;
	
    z-index: 999;
}
.circle-highlight {
	border:thin #17975f solid;
}
.guage-icon {
	background-color: #e2e2e2;
	background-image:url(../images/1x/guage.png);
	background-repeat:no-repeat;
	background-position:center;
}
.verticalLine {
    border-left: thick solid #e2e2e2; min-height: 70px; height: 70px; left: 43px; min-height: 20px; position: relative; top: -10px;
}
/* top right navigation */
#calendar-img {
	display:block; margin:0 auto; padding:22px 5px 0 0
}
#alarm-img {
	display:block; margin:0 auto; position: relative; top: 1px; padding: 18px 10px 0 0
}
#profile-img {
	border-radius:50%; width:35px; height:35px; margin: 5px 15px; display:block; margin:0 auto; position: relative; top: 5px;
}
#profile-text {
	color: #666; font-size: 11px; position: relative; top: 5px;
}
#profile-text .caret {
	position:relative; left:0;
}
.badge-notify-calendar {
    background: #f9a924 none repeat scroll 0 0;
    border-radius: 4px;
    left: 13px;
    position: relative;
    top: -33px;
}
.badge-notify-alarm {
    background: #fc5e5e none repeat scroll 0 0;
    border-radius: 4px;
    left: 13px;
    position: relative;
    top: -32px;
}
/* Left navigation */
#leads a {
	background:url(../images/1x/group-311.png);
	background-repeat: no-repeat;
    background-position: left;
	padding-left:15px;
	margin-left:15px;
}
#new-customer a {	
	background:url(../images/1x/path-49.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-left:15px;
	padding-left:18px;
}
#support a {
	background:url(../images/1x/path-24.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-left:15px;
	padding-left:18px;
}
#email-template a {
	background:url(../images/1x/path-28.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-left:15px;
	padding-left:18px;
}
#archive-labels a {
	background:url(../images/1x/group-312.png);
	background-repeat: no-repeat;
	background-position: left;
	margin-left:15px;
	padding-left:18px;
}
#lead-subitems .active {
	color:#FFF !important;	
}
#lead-subitems, #new-customer-subitems {
	padding-left:30px;	
}
#lead-subitems li, , #new-customer-subitems li {
	font-size: 13px;
    padding: 3px;	
}
#actions, .action-icon {
	background:url(../images/1x/group-320.png);
	background-repeat: no-repeat;
    background-position: left; 	
}
span.action-icon {
	background:url(../images/1x/group-320.png);
	background-repeat: no-repeat;
    background-position: left; 	
	padding:15px;
}
span.ask-this-week-icon {
	background:url(../images/1x/group-319.png);
	background-repeat: no-repeat;
    background-position: left; 	
	padding:15px;
}
span.ask-next-week-icon {
	background:url(../images/1x/group-318.png);
	background-repeat: no-repeat;
    background-position: left; 	
	padding:15px;
}
#this-week {
	background:url(../images/1x/group-319.png);
	background-repeat: no-repeat;
    background-position: left; 	
}

#next-week {
	background:url(../images/1x/group-318.png);
	background-repeat: no-repeat;
    background-position: left; 	
}
#last-week {
	background:url(../images/1x/group-317.png);
	background-repeat: no-repeat;
    background-position: left; 	
}
#re-ask {
	background:url(../images/1x/group-316.png);
	background-repeat: no-repeat;
    background-position: left; 	
}
#weekly-history {
	background:url(../images/1x/group-315.png);
	background-repeat: no-repeat;
    background-position: left; 	
}
#actions a, #this-week a, #next-week a, #last-week a, #re-ask a, #weekly-history a  {
	padding-left: 10px;
}
#lead-subitems li a , #new-customer-subitems li a {
	display:block;
	color:#8ccbb0;
	padding: 3px 15px;
}
#lead-subitems li, #new-customer-subitems li {
	cursor:pointer;
	border:0;
}
#lead-subitems li a:hover, #lead-subitems li:hover, #new-customer-subitems li:hover  {
	color:#FFF;
}
#profileModal {
	color:#666;	
}
#profile-name-contact h4 {
	color:#888;
	margin-top:4px;
	margin-bottom:4px;
}
#profile-upload {
	color:#888;	
}
.btn-gray {
	background: #ddd  none repeat scroll 0 0;
    color: #FFF;
    font-size: 10px;
	border-color:#ddd ;
}
 a.btn-gray:hover {
    color: #666 !important;
	border-color:#ddd;
}
.btn-dim-gray {
	background: #999 none repeat scroll 0 0 !important;
    color: #f1f1f1;
    font-size: 11px;
	border-color:#999;
	opacity:1;
	text-shadow: none !important;
}
.btn-dim-gray:hover {
	color:#f9f9f9;	
}
.small-font-11 {
	font-size:11px;	
}
.checkbox-padding-11 {
	position: relative;
    top: 4px;
}
#profile-outer-container { 
	max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
}
#profile-inner-container { 
	white-space: nowrap;
/*	padding-left:10px;*/
}
#profile-schedule-time thead th {
	background: #999 none repeat scroll 0 0;
    color: #fff;
    font-size: 11px !important;
    padding: 4px;
    text-align: center;
	border-color:#999;
}
#profile-schedule-time > tbody > tr > td {
	font-size: 11px !important;
    padding: 4px;
	text-align: center;
}
#profileModal .slimScrollDiv {
	padding:0 5px 0 0 !important;	
}
#profile-head {
	margin-bottom:0;	
}
#profile-google-calendar, #profile-timezone, #profile-upload, #profile-change-password, #profile-notification-settings, #profile-my-demo-schedule {
	margin-bottom:5px;	
}
#profile-google-calendar h4, #profile-timezone h4, #profile-upload h4, #profile-change-password h4, #profile-notification-settings h4, #profile-my-demo-schedule h4 {
	position:relative;
	top:5px;
	color:#888;
}
#profileModal .modal-content {
	border:0;	
}
/* Reminder Modal */
#reminders-modal {
	color:#666;	
}
#reminders-outer-container { 
	max-height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 5px;
}
#reminders-inner-container { 
	white-space: nowrap;
/*	padding-left:10px;*/
}
.btn-table-options-dropdown, .btn-tbl-colors {
	border-radius:0;
	background-color:#17975f;
	border-color:#17975f;
}
.btn-table-options-dropdown .caret, .btn-tbl-colors .caret {
	color:#FFF;	
}
.container-item-center {
	text-align:center;	
}
.container-border-right {
	border-right:thin #ddd solid	
}
.btn-rumple {
	background-color:#17975f;
	border-color:#17975f;
	color:#FFF;
	font-weight:bold;
	font-size:12px;
}	
.btn-rumple:hover {
	background-color:#17975f;
	border-color:#17975f;
	color:#eee;
	font-weight:bold;
	font-size:12px;
}	
.timeline-row {
/*	margin-bottom:10px;*/
	margin-top:10px;	
}
.dci-loading-div div {
	background-color: #17975f; height: 10px; padding-left: 10px; width: 50px; float:left; border-right:2px #e2e2e2  solid; border-bottom:2px #e2e2e2  solid;
}
.timeline-datestamp {
	font-size:9px; font-weight:bold; color:#555; line-height:5px; font-style:italic; padding:0 margin:0; word-spacing:-1px; text-align:right
}
.timeline-row:last-child .verticalLine {
	border:0;
}
/* bg icons */
.btn-dci-ask-this-week {
	background-image:url(../images/1x/group-319.png);
	background-repeat:no-repeat;
	background-position:10px ;
	padding-left:20px;
}
.btn-dci-ask-next-week {
	background-image:url(../images/1x/group-318.png);
	background-repeat:no-repeat;
	background-position:10px ;
	padding-left:20px;
}
.reminder-icon-5x {
	background-image:url(../images/1x/path-39.png);
	background-repeat:no-repeat;
	background-position: right center;
    height: 50px;
    position: relative;
	width:60px;
}
.schedule-demo-icon-5x {
	background-image:url(../images/1x/group-161.png);
	background-repeat:no-repeat;
	background-position: right center;
    height: 50px;
    position: relative;
	width:60px;
}
/* small icons */
.note-added {
	background-image: url(../images/img_20x20/note-added.png);
	background-repeat:no-repeat;
	background-position: center;
}

/* Reminder datepicker */
#dt-reminder .glyphicon-chevron-right, #dt-reminder .glyphicon-chevron-left {
	color:#666;	
}
.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
	background-color:#d0eade;
	color:#666;
	text-shadow:none !important;
	border-radius: 0;
	border-color:#add9c5;
}
.bootstrap-datetimepicker-widget table td.day:hover, .bootstrap-datetimepicker-widget table td.hour:hover, .bootstrap-datetimepicker-widget table td.minute:hover, .bootstrap-datetimepicker-widget table td.second:hover {
	background-color:#d0eade;
	border-color:#add9c5;
	border-radius: 0;
}
.accordion-toggle {
	display:none !important;	
}
.bootstrap-datetimepicker-widget .new:hover, .bootstrap-datetimepicker-widget .old:hover {
	background:#FFF !important;
	cursor:default !important;
}
.bootstrap-datetimepicker-widget table td:not(.new) {
	border:thin #CCC solid;
}
.bootstrap-datetimepicker-widget table td.day  {
	border:thin #CCC solid;
}
.bootstrap-datetimepicker-widget table td.new  {
	border:none !important;
}
.bootstrap-datetimepicker-widget table td.old  {
	border:none !important;
}
.datepicker-days {
	padding:10px;	
}
#schedule-demo-schedule-time > thead > tr > th {
	text-align:center;
	font-size:11px;
	font-weight:bold;
	background:#999;
	color:#FFF;
	padding:4px 0;
	border-color:#999;
}
#schedule-demo-schedule-time > tbody > tr > td {
    font-size: 10px;
    padding:0;
    text-align: center;
}
.schedule-date-range {
	 position:relative; top:-5px; margin:0 15px; cursor:pointer;
}
.sched-prev, .sched-next {
	 cursor:pointer;
	 color:#999;
}
.form-control:focus {
	border-color: #16975f ;
}
.dropdown-toggle:focus {
    border-color: #CCC;
}
#btn-schedule-demo-popover .slimScrollDiv {
	padding: 0 !important;	
	margin: 0 !important;	
}
#schedule-demo-popover {
	padding:10px 40px;
}
#schedule-demo-schedule-time {
	width:600px;	
}
.archive-lead-popover-leave-reminder-txt {
	position:relative;
	top:3px;	
}
#draggable-card-item-modal .popover.left > .arrow::after, #draggable-card-item-modal .popover.right > .arrow::after {
	border-left-color:#efefef ;	
	border-right-color:#efefef ;	
}
.scheduler-border .slimScrollDiv {
	overflow-x:hidden !important;	
}
.note-toolbar .panel-heading {
	border-color: #FFF;
	border-radius: 0;
}
.note-editor.note-frame {
    border: 1px solid #a9a9a9;
    border-radius: 0 !important;
}
#weekly-history-container h2, #this-week-container h2, #last-week-container h2, #next-week-container h2, #re-ask-container h2 {
	font-family: "Roboto Slab",serif;
	color:#777;
	text-align:center;
}
#weekly-history-container , #this-week-container , #last-week-container , #next-week-container,  #re-ask-container {
	font-family: 'Roboto', sans-serif;
}
#weekly-history-container .table > tbody > tr > td, #this-week-container .table > tbody > tr > td, #last-week-container .table > tbody > tr > td, #next-week-container .table > tbody > tr > td,  #re-ask-container .table > tbody > tr > td {
	border-top:0;
	padding:2px;
}
.rumple-green {
	color:#259866;
}
.rumple-orange {
	color:#f9a924;
}
.rumple-red {
	color:#F00;
}
#weekly-history-container ul {
	font-family: 'Roboto', sans-serif;
	color:#FFF;
}
#cards {
	min-width:400px !important;
}
#this-week-container table td {
	border:0;	
	padding:1px;
	font-size:12px;
	font-family: 'Roboto', sans-serif;
}
#this-week-container .dropdown-menu > li > a {
	padding:2px 5px;
	color:#333 !important;
}
.one-edge-shadow {
  -webkit-box-shadow: 0 8px 6px -6px #777;
     -moz-box-shadow: 0 8px 6px -6px #777;
          box-shadow: 0 8px 6px -6px #777;
}
.background-gray {
	background:#eee !important;	
}
a.rumple-call {
	color:#777;		
}
a.rumple-call:hover {
	color:#337ab7;		
}

/* Lead Popup detail */
#dci-timeline {
	padding-left:10px; max-height:220px; height:220px; overflow-y: scroll; overflow-x:hidden;
}
#dci-timeline .timeline-container {
	background:#e2e2e2; /*box-shadow: none !important;*/ padding:5px 10px 0 10px; border-radius:1px !important; margin:0.5%;
}
.timeline-head {
	font-size:11px; font-weight:bold; padding:0; margin:0 !important
}
.timeline-body {
	font-size:11px; padding:0; margin:0 0 5px 0;color:#666
}
.timeline-foot {
	margin-bottom:0;
	margin-top:5px;
}
#btn-add-note {
	background:#eee; margin:1%; width:92px; position:relative; left: 20px;
}
#txtarea-notes {
	width:100% !important;	
}
.fa-times {
	cursor:pointer;	
}
.remove-timeline-row:hover {
	color:#111 !important;
}





/***************** Bootstrap modification *****************/ 
.collapsing {
    transition: height 0.6s;
}
.panel-default>.panel-heading {
	border-radius: 0;
}
.popover {
	background:#efefef;
	min-width:205px !important;
}
.modal-dialog {
    margin: 20px auto;
}
#draggable-card-item-modal .btn-xs {
	font-size: 10px;
    font-weight: bold;
	padding: 3px 3px 4px 5px;
}
.btn {
	border-radius:2px;	
}
.btn-table-options-dropdown:hover, .btn-table-options-dropdown:focus, .open > .dropdown-toggle.btn-table-options-dropdown,
.btn-tbl-colors:hover, .btn-tbl-colors:focus, .open > .dropdown-toggle.btn-tbl-colors {
	background-color:#17975f;
	border-color:#17975f;
}
.caret-white {
	color:#FFF;	
}
.dropdown-menu {
	font-size:12px;	
}
hr {
	margin-bottom:10px;
	margin-top:10px;	
}
.dropdown-menu > li > a {
	color:#666 !important;	
}
.form-control {
	border-radius:0;	
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background:#8bcbaf;
	border-color:#8bcbaf;
}
.navbar-default .navbar-toggle {
	border-color:#45ac7f;
}
.navbar-toggle {
	background:	#45ac7f ;
	
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
#navbar {
	background:#45ac7f !important;
	border-radius:0 4px 4px 0;
	margin-bottom:5px;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
	background:#27c680 !important;
}
#top-nav ul li > a {
	color:#FFF !important;	
}

.modal-footer {
	background:#eee;	
}
.modal-header {
	border:0;	
}
.popover {
	/*height:500px !important;	*/
/*	width:500px;*/
	max-width:655px;
}
.note-editor {
	margin-bottom:0 !important;
}
.btn-success {
	background:#16975f;
	border-color:#16975f;	
}
input {
	border-radius:2px !important;	
}
textarea[name=popup-modal] {
    resize: none;
}
.modal-content {
	/*border:2px #45ac7f solid;*/
}
legend {
	margin-bottom:0 !important;
		
}
legend.scheduler-border {
	top:0;	
}
.modal-header p {
    word-wrap: break-word !important;
}
.arrow-left {
    border-bottom: 10px solid #fff;
    border-right: 10px solid #e2e2e2;
    border-top: 10px solid transparent;
    height: 0;
    left: 4px;
    position: relative;
    top: 10px;
    width: 0;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	position:relative;
	border-bottom: 5px solid #FFF;
	top:-10px;
	left:122px;
}
.gray-text {
	color:#666;	
}
.card-dropdown-menu {
/*	left:80px;*/
	/*z-index:9999999999999999999999999;*/
	left: 97px;
	top: 25px;
}
.dropdown-menu {
/*	z-index:9999999999999999999999999;*/
}
.table-options {
	color:#FFF;	
}
.caret-black {
	border-bottom-color: #333 !important;
	border-top-color: #333 !important;
	cursor:pointer;
}
.caret {
	position:relative;
   /* left: 5px;*/
}
.ui-sortable-placeholder {
	display: inline-block;
	height: 1px;
}
.pull-right {
	position:relative; 
}
.btn-arrow-right{
  position: relative;
  padding-left: 18px;
  padding-right: 18px;
}
.btn-arrow-right {
  padding-left: 36px;
}
.btn-arrow-right:before,
.btn-arrow-right:after {
  content: "";
  position: absolute;
  top: 5px;
  width: 20px;
  height: 20px;
  background: inherit;
  border: inherit;
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0px 4px 0px 0px;
  -webkit-border-radius: 0px 4px 0px 0px;
  -moz-border-radius: 0px 4px 0px 0px;
  border-radius:0;
}

.btn-arrow-right:before,
.btn-arrow-right:after {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
}
.btn-arrow-right:before {
  left: -10px;
}
.btn-arrow-right:after {
  right: -10px;
}
.btn-arrow-right:after {
  z-index: 1;
}
.btn-arrow-right:before {
  background-color: white;
}
#upload-sheet-modal .modal-footer .btn + .btn {
	margin-left:0 !important;	
}
#upload-sheet-modal p, #upload-sheet-modal .modal-body {
	text-align:center;	
}
.modal {
	top:50px;
}
.modal-backdrop {
    position: absolute !important;
}
.card-panel-body {
	z-index:0;
	min-height:50px;
	overflow-y:auto;
	overflow-x:hidden;
/*	width:245px;*/
	position: static;
	padding-bottom:10px;
	z-index:10 !important;
	height:auto !important;
}
.list-group {
	margin-bottom:2px;
}
ol.droppable, ul.droppable {
    list-style-type: none;
 /*   margin: 0;*/
	height:auto !important;
	min-height:55px ;
}
#option-btn {
	display:none;	
}
.well {
	margin-bottom:0;	
}
.panel-body {
	background:#f1f1f1;	
	padding:5px 10px !important;
	height:auto;
}
.panel-body h3 {
	position:relative;
	float:left;
	left:10px;
}
.icon-ellipsis-horizontal {
	cursor:pointer;
	padding:2px 5px;
	position:relative;
	left:5px;
}
.panel-heading {
	color:#FFF;
	border:thin #45ac7f solid;	
	cursor:pointer;	
}
.list-group-item {
	margin-bottom:0.5%;	
	cursor:pointer;
}
li.active {
	background:#27c680;
}
.nav > li {
	border-bottom:0.2em #8bcbaf solid;	
}
.nav > li > a:focus, .nav > li > a:hover {
	background:#27c680;
	color:#FFF;
}
#header {
	margin-bottom:0;
	border-radius:0;
	border:thin #CCC solid;	
}
#header li {
	overflow:hidden;
}
#header h3 { 
	width:250px;
}
fieldset.scheduler-border {
	border-top: 1px groove #ddd !important;
	-webkit-box-shadow: 0px 0px 0px 0px #000;
	box-shadow: 0px 0px 0px 0px #000;
}
legend.scheduler-border {
	font-size: 16px !important;
	font-weight: bold !important;
	text-align: center !important;
	width: auto;
	padding: 0 10px;
	border-bottom: none;
	position:relative;
	color:#888;
/*	left:42%;*/
}
.spinner {
	/*width: 100px;*/
}
.spinner input {
	text-align: right;
}
.input-group-btn-vertical {
	position: relative;
	white-space: nowrap;
	width: 1%;
	vertical-align: middle;
	display: table-cell;
}
.input-group-btn-vertical > .btn {
	display: block;
	float: none;
	width: 100%;
	max-width: 100%;
	padding: 7px;
	margin-left: -1px;
	position: relative;
	border-radius: 0;
}
.input-group-btn-vertical > .btn:first-child {
	border-top-right-radius: 4px;
}
.input-group-btn-vertical > .btn:last-child {
	margin-top: -2px;
	border-bottom-right-radius: 4px;
}
.input-group-btn-vertical i{
	position: absolute;
	top: 0;
	left: 4px;
}
button.close {
	z-index:100;	
}
/******** End Bootstrap modification *********/ 

/********* Media Queries ***************/ 
@media(max-width:2600px) {
	 #top-nav {
		display:none;	
	}
}
@media(max-width:1200px) {
	.container-head {
		height:55px;	
	}
	/*.dci-head-button {
		width:90px;
		font-size:12px;
		margin:1% 0;
	}*/
	 #top-nav {
		display:none;	
	}
}
@media(max-width:1600px) {
	 #top-nav {
		display:none;	
	}
}
@media(max-width:992px) {
	#btn-new-lead, #btn-upload-lead-sheet {
		margin:1% 0 !important;
	}
	#left-nav {
		display:none;	
	}
	#left-nav {
		display:none;	
	}
}
@media (max-width: 991px) {
	.container-head {
		height:55px;	
	}
	#draggable-card-item-modal .modal-dialog {
		width:700px;
	}
	.popover {
		max-width:auto;	
	}
	.popup-input-subject {
		width:100% !important;	
	}
	.collapse {
		display: none !important;
	}
	#header h3 {
		display:none;	
	}
	.navbar-header {
	  float: none;
	}
	.navbar-left,.navbar-right {
	  float: none !important;
	}
	.navbar-toggle {
	  display: block;
	}
	.navbar-collapse {
	  border-top: 1px solid transparent;
	  box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
	}
	.navbar-fixed-top {
	  top: 0;
	  border-width: 0 0 1px;
	}
	.navbar-collapse.collapse {
	  display: none!important;
	}
	.navbar-nav {
	  float: none!important;
	  margin-top: 7.5px;
	}
	.navbar-nav>li {
	  float: none;
	}
	.navbar-nav>li>a {
	  padding-top: 10px;
	  padding-bottom: 10px;
	}
	.collapse.in{
	  display:block !important;
	}
	#top-nav {
		display:block;	
	}
}
@media(max-width:769px) {
	.popover.left {
		margin-left: 50px;
	}
	#schedule-demo-popover {
		padding:10px 20px;
	}
	#dci-timeline {
		padding-left:0;	
	}
	.container-head {
		height:55px;	
	}
}
@media(max-width:768px) {
	.container-border-right {
		border-right: 0;
		border-bottom:thin #ddd solid	
	}
	h4 {
		font-size:16px;	
	}
	p {
		font-size:13px;	
	}
	.container-head {
		height:95px;	
	}
	.rumple-text-bg {
		padding-left:30px !important;	
	}
	#header h3 {
		display:none;	
	}
	#top-nav {
		display:block;	
	}
	#left-nav {
		display:none	
	}
	#search-container {
		padding-left:0;
		padding-right:0;
	}
	#profile-outer-container { 
		overflow-x: scroll !important;
	}
	#reminders-modal .modal-body, #profileModal .modal-body {
		padding:2px;
	}
	#reminders-modal .modal-dialog, #profileModal .modal-dialog {
		padding:0 !important;
	}
	#profile-head, .close, #reminders-head {
		position:relative;
		top:5px !important;	
	}
	#dci-timeline {
		margin:10px;	
	}
}
@media(max-width:760px) {
	.popover {
		left: 0 !important;
		width: 100% !important;
	}
	.modal-header .col-md-12:not(.popover#send-lead-popover) {
		margin:0;
		padding:0;	
	}
	.popover .arrow {
		display:none;	
	}
	.popover.left, .popover.right {
		margin:0;	
	}
}
@media(max-width:600px) {
	#draggable-card-item-modal .modal-dialog {
		width:auto;
	}
	.circle {
		left: 10px;
	}
	.verticalLine {
		left: 33px;
	}
	.timeline-row .col-xs-10 {
		 width: 75%;
	}
	.timeline-datestamp {
		margin-top:10px;	
	}
	#schedule-demo-dates {
		padding:0 !important;	
	}
	#schedule-demo-popover {
		width:100% !important;
	}
	.popover {
		left: 0 !important;
		/*width: 100% !important;*/
	}
	#reminder-popover {
		width:100% !important;	
/*		overflow:scroll;*/
	}
}
@media(max-width:480px) {
	#schedule-demo-schedule-time > thead > tr > th {
		font-size:9px;	
	}
	.circle {
		border-radius: 200px;
		display: table;
		font-weight: bold;
		height: 40px;
		left: 5px;
		position: relative;
		top: -5px;
		width: 40px;
		z-index: 999;
	}
	.verticalLine {
		left: 23px;
		height:170px;
	}
	
	.dci-loading-div div {
		width:38px;	
	}
	.popover {
		width: 440px;
	}
	.spinner {
		width:100% !important;	
	}
	#draggable-card-item-modal .modal-content .col-md-12 {
		margin-left:0;
		margin-right:0;	
		/*padding-left:5px;
		padding-right:5px;*/
	}
	#schedule-demo-popover {
		padding:0 !important;	
	}
	#reminder-popover {
		overflow:scroll;
	}
	#reminder-popover ul {
		margin:0 10px;	
	}
	.popover-content < #reminder-popover  {
		padding: 0 !	;
	}
	.popover {
		width:350px !important;
	}
	.verticalLine {
		min-height:70px;
		height: 70px;
	}
}
@media(max-width:360px) {
	.timeline-row .col-xs-10 {
		 width: 66.6667%;
	}
	#header h3 {
		font-size:20px;	
		width:200px;
	}
	.table-container {
		max-width:250px;
	}
	#supported-text {
		font-size:10px !important;	
	}
	.btn-arrow-right {
		padding-left: 15px;
		padding-right: 15px;
		font-size:10px;
		left: -5px !important;
		min-width:10% !important;
	}
	.btn-arrow-right::before, .btn-arrow-right::after {
		top:3px;
		height:18px;
	}
	#btn-new-lead, #btn-upload-lead-sheet {
		margin:1% 0 !important;
	}
	.container-head {
		height:85px;	
	}
	#header-date {
		text-align:left !important;
		padding:4px 15px 0 15px;
	}
	#header-line-1 {
		margin-bottom:4px;	
	}
	#header-line-2 {
		margin:2px 0;
		border-color:#FFF !important;
	}
	legend {
		margin-bottom:0;	
	}
	legend.scheduler-border {
		top:0;	
	}
	fieldset.scheduler-border {
		margin-top:10px;	
	}
	.popover-content #popup-input-subject, .popover-content textarea {
		min-width:240px;
	}
	.popover-content #popup-input-email {
		width:270px !important;
		position:relative;
		left:-2px;
	}
	.dci-head-container {
		padding-left:0 !important;
		padding-right:0 !important;	
	}
	span.rumple-text-bg {
		padding-left:30px !important;	
	}
	#left-nav {
		display:block;	
	}
	#left-nav {
		display:none;	
	}
	#dci-column {
		padding-left:5px !important;
		padding-right:5px !important;	
	}
	#modal-name-title {
		width:250px;	
	}
	.container-head {
		height:80px;	
	}
	.timeline-datestamp {
		font-size: 8px;
		line-height: 10px;
	}
	
	.modal-header .col-md-12 {
		margin-left:0;
		margin-right:0;	
	}
	.modal-dialog {
		min-width:320px !important;	
	}
	.popover {
		padding:5px;	
		width:320px !important;
	}
	
	#reminder-popover h4 {
		font-size:14px;
	}
	.verticalLine {
		height: 355px;
	}
}























